.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.header {
  position: absolute;
  width: 100%;
  background: #002766;
  z-index: -2;
  height: 200px;
}

.contenido {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 630px;
  width: 100%;
}

.img {
  display: flex;
}

.video {
  width: 600px;
  height: 300px;
  background: black;
  z-index: 2;
}
.video2 {
  width: 600px;
  height: 300px;
  background: black;
  display: none;
}
.clase{
  transition: all 2s;
  display: none;
}
/*# sourceMappingURL=App.css.map */