.header{
  position: absolute;
width: 100%;
background: #002766;
z-index: -1;
height: 200px;}
.contenido{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 630px;
width: 100%;
}
.img{
  display: flex;
}
// body{
// background: #F5F5F5;
// }
// .img{
//   // margin-left: 300px;
//   display: flex;
//   // margin-top: 100px;
//   margin: 0 auto;
// }
// .cont{

//   display: flex;
//   // justify-content: center;
//   // align-items: center;
// }
// .rower{
//   // display: flex;
//   // justify-content: center;
// }